# Configfile

[LOGGING]
    # Allowed LOGLEVEL
    # DEBUG, WARNING, ERROR, CRITICAL, INFO
    LOGLEVEL = INFO
    LOGFILE = ./SMARTFOX.log
    LOGMODE= SYSLOG
    #LOGMODE = LOGFILE
    #LOGMODE = PRINT
    NAME = SMARTFOX2MQTT
    LOGSERVER= 192.168.2.20

[BROKER]
  HOST= 192.168.2.20
  PORT= 1883
  PUBLISH= SMARTHOME/CH/BE/SENSOR01/SMARTFOX01/STATUS
  SUBSCRIBE = SMARTHOME/CH/BE/SENSOR01/SMARTFOX01/CMD

[SMARTFOX]
  HOST = 192.168.2.80
  PORT = 502
  REGISTERFILE = /opt/Smartfox2mqtt/data/SmartfoxRegister.json
  REGISTER = Energy_from_grid, Energy_into_grid,Energy_Smartfox,Day_Energy_from_grid,Day_Energy_into_grid,Day_Energy_Smartfox,Power_total,Power_L1,Power_L2,Power_L3,Voltage_L1,Voltage_L2,Voltage_L3,Current_L1,Current_L2,Current_L3,Frequency,Power_Smartfox



